
.customize-control input[type=text].pixels,
.customize-control input[type=text].percentage,
.customize-control input[type=text].milliseconds {
	width: 50px;
}

.customize-control-warning,
.customize-control-warning a {
	color: #FF0000;
	font-weight: 400;
}

/* Accordion section rollover */
#customize-theme-controls #accordion-section-colors h3:hover,

#customize-theme-controls #accordion-panel-shopstar-fonts h3:hover,
	#customize-theme-controls #accordion-section-shopstar-site-title-fonts h3:hover,
	#customize-theme-controls #accordion-section-shopstar-navigation-menu-fonts h3:hover,
	#customize-theme-controls #accordion-section-shopstar-slider-fonts h3:hover,
	#customize-theme-controls #accordion-section-shopstar-heading-fonts h3:hover,
	#customize-theme-controls #accordion-section-shopstar-body-fonts h3:hover,
	#customize-theme-controls #accordion-section-shopstar-form-field-fonts h3:hover,

#customize-theme-controls #accordion-panel-shopstar-styling h3:hover,
	#customize-theme-controls #accordion-section-shopstar-styling-links h3:hover,
	#customize-theme-controls #accordion-section-shopstar-styling-page-builders h3:hover,

#customize-theme-controls #accordion-section-shopstar-layout h3:hover,

#customize-theme-controls #accordion-panel-shopstar-header h3:hover,
	#customize-theme-controls #accordion-section-shopstar-header-top-bar h3:hover,
	#customize-theme-controls #accordion-section-shopstar-header-site-logo-area h3:hover,
	#customize-theme-controls #accordion-section-shopstar-header-text h3:hover,

#customize-theme-controls #accordion-section-shopstar-social h3:hover,
#customize-theme-controls #accordion-section-shopstar-search h3:hover,
#customize-theme-controls #accordion-section-shopstar-slider h3:hover,
#customize-theme-controls #accordion-section-shopstar-blog h3:hover,
#customize-theme-controls #accordion-section-shopstar-404-page h3:hover,
#customize-theme-controls #accordion-section-shopstar-gutenberg h3:hover,
#customize-theme-controls #accordion-section-shopstar-media h3:hover {
    background-color: #000000;
	border-left-color: #000000;
	color: #FFFFFF;
}

/* Accordion arrow icon rollover */
#customize-theme-controls #accordion-section-colors:hover>.accordion-section-title:after,

#customize-theme-controls #accordion-panel-shopstar-fonts:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-site-title-fonts:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-navigation-menu-fonts:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-slider-fonts:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-heading-fonts:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-body-fonts:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-form-field-fonts:hover>.accordion-section-title:after,

#customize-theme-controls #accordion-panel-shopstar-styling:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-styling-links:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-styling-page-builders:hover>.accordion-section-title:after,

#customize-theme-controls #accordion-section-shopstar-layout:hover>.accordion-section-title:after,

#customize-theme-controls #accordion-panel-shopstar-header:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-header-top-bar:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-header-site-logo-area:hover>.accordion-section-title:after,
	#customize-theme-controls #accordion-section-shopstar-header-text:hover>.accordion-section-title:after,

#customize-theme-controls #accordion-section-shopstar-social:hover>.accordion-section-title:after,
#customize-theme-controls #accordion-section-shopstar-search:hover>.accordion-section-title:after,
#customize-theme-controls #accordion-section-shopstar-slider:hover>.accordion-section-title:after,
#customize-theme-controls #accordion-section-shopstar-blog:hover>.accordion-section-title:after,
#customize-theme-controls #accordion-section-shopstar-404-page:hover>.accordion-section-title:after,
#customize-theme-controls #accordion-section-shopstar-gutenberg:hover>.accordion-section-title:after,
#customize-theme-controls #accordion-section-shopstar-plugin-support:hover>.accordion-section-title:after,
#customize-theme-controls #accordion-section-shopstar-media:hover>.accordion-section-title:after {
	color: #FFFFFF !important;
}

/* Expanded Section heading colors */
#sub-accordion-section-colors.control-section.open h3,
#sub-accordion-panel-shopstar-fonts.control-section div.accordion-section-title,
	#sub-accordion-section-shopstar-site-title-fonts.control-section.open h3,
	#sub-accordion-section-shopstar-navigation-menu-fonts.control-section.open h3,
	#sub-accordion-section-shopstar-slider-fonts.control-section.open h3,
	#sub-accordion-section-shopstar-heading-fonts.control-section.open h3,
	#sub-accordion-section-shopstar-body-fonts.control-section.open h3,
	#sub-accordion-section-shopstar-form-field-fonts.control-section.open h3,

#sub-accordion-panel-shopstar-styling.control-section div.accordion-section-title,
	#sub-accordion-section-shopstar-styling-links.control-section.open h3,
	#sub-accordion-section-shopstar-styling-page-builders.control-section.open h3,

#sub-accordion-section-shopstar-layout.control-section.open h3,

#sub-accordion-panel-shopstar-header.control-section div.accordion-section-title,
	#sub-accordion-section-shopstar-header-top-bar.control-section.open h3,
	#sub-accordion-section-shopstar-header-site-logo-area.control-section.open h3,
	#sub-accordion-section-shopstar-header-text.control-section.open h3,

#sub-accordion-section-shopstar-social.control-section.open h3,
#sub-accordion-section-shopstar-search.control-section.open h3,
#sub-accordion-section-shopstar-slider.control-section.open h3,
#sub-accordion-section-shopstar-blog.control-section.open h3,
#sub-accordion-section-shopstar-404-page.control-section.open h3,
#sub-accordion-section-shopstar-gutenberg.control-section.open h3,
#sub-accordion-section-shopstar-media.control-section.open h3 {
    background-color: #000000 !important;
	color: #FFFFFF !important;
}

/*
.out_the_box_upgrade {
	display: block;
	float: left;
	width: 100%;
}

.out_the_box_upgrade .button {
	background: none #5cb85c;
	border-color: #4cae4c;
	box-shadow: none;
	color: #fff;
	margin-top: 10px;
}

.out_the_box_upgrade .button:hover,
.out_the_box_upgrade .button:focus {
	background: none #449d44;
	border-color: #398439;
	box-shadow: none;
	color: #fff;
}
*/
